/* Write your styles */
/* index */

.index_pro img{
    width: 100% !important;
    height: 267px ! important;
}
.index-about{
    margin-bottom: 30px;
}
.index-about-title{
    text-align: center;
}
/* index */
/* about-us */
.about_title_part{
    margin-left:490px;
    background-color: #0086da;
    color: #fff;
    display: inline;
    padding: 3px;
    border-radius: 10px;

}
.about_li_fz{
    padding:5px; 
}
.about_parter{
    text-align: center;
    margin:10px 0 10px 0; 
    padding: 5px;
}
.about_parter img{
        width: 50%;
        height: 100px;
        border-radius:10px; 
}
.works-pain li{
    line-height: 40px !important ;
}
.works-pain p{
    line-height: 40px !important ;
}
.works-bottom{
    margin-bottom: 40px;
}
/* about-us */
/* recruit */
.recruit_join ul li{
    line-height: 40px;
}
.works-recruit p{
    line-height: 35px !important ;
}
.zhaoping{
    width: 100%;
}
.daiyu-content {
    padding: 20px 20px 0 20px;
    width: 60%;
    margin: 0 auto;
    border: solid 2px #c5c5c5;
    padding: 20px 5%;
    color: #969696;
}
/* recruit */

.job-gallery-words {
    height: 180px;
    width: 100%;
    line-height: 26px;
    overflow: hidden;
}